/* General */
html, body {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
    background-color: #4e5252;
    box-sizing: border-box;
    color: #ffffff;
    font-family: monospace;
}

/* Header */
header {
    width: 100%;
    background-color: #e67e00; 
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);

}

header h1 {
    color: #4e5252;
    text-shadow: 0px 1px #000000;
}


/* Content */
.content-container {
    width: 100%;
    margin: 0 0 0 0;
    min-height: calc(100% - 152px);
}

.content {
    position: relative;
    height: auto;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content hr {
    width: 90%;
    opacity: .5;
}

/* First part of content */
.first-part {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.first-part .pic {
    width: 300px;
    height: 300px;
    padding: 50px 40px 50px 0;
}

.first-part .pic img {
    position: relative;
    height: 100%;
    width: auto;
    border-radius: 50%;
    -webkit-box-shadow: -1px 0px 15px 5px rgba(41,40,38,1);
    -moz-box-shadow: -1px 0px 15px 5px rgba(41,40,38,1);
    box-shadow: -1px 0px 15px 5px rgba(41,40,38,1);
}

.first-part .about-me {
    display: table;
    table-layout: fixed;
    min-width: 300px;
    width: calc(100% - 380px);
    height: 300px;
    text-align: left;
    padding: 50px 0 50px 40px;
}

.about-me .text {
    display: table-cell; 
    vertical-align: middle; 
    text-align: left;
    opacity: .5;
}


/* Second part of content */
.second-part {
    padding-top: 50px;
    height: auto;
    width: 100%;
}

.second-part .links {
    height: auto;
    text-align: center;
}

.links ul {
    overflow: auto;
    padding: 0;
    margin: 0;
}

.links ul li {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 80px;
    opacity: .5;
}

.links ul li:hover {
    opacity: 1;
    color: #ffffff;
}

.links ul li .icon {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 30px;
    height: 30px;
}

.links a {
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    color: #4e5252;
    text-align: center;
    text-decoration: none;
}

.links a:visited {
    font-family: monospace;
    font-weight: 500;
    color: #4e5252;
    text-decoration: none;
}

/* Footer */
footer {
    padding: 7px;
    width: 100%;
    height: 14px;
    font-size: 14px;
    text-align: center;
    background-color: #e67e00;
    -webkit-box-shadow: inset 0px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 10px 5px -6px rgba(0,0,0,0.75);
}

footer span {
    opacity: .7;
}

footer span:hover {
    opacity: 1;
}

/* Resposive related stuff */
@media screen and (max-width: 800px) {
    header {
        width: auto;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .first-part {
        display: block;
        height: auto;
        flex-wrap: wrap;
    }

    .first-part .pic {
        margin: 0 auto;
        padding: 50px 20px;
    }

    .first-part .about-me {
        margin: 0 auto;
        padding: 50px 20px;
        text-align: justify;
    }

    .about-me .text {
        vertical-align: top;
    }

    footer {
        position: initial;
    }
}